.home-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.home-info-txt{
    margin-left: 10px;
}
.watch-img{
    
    margin-left: 20px;
    padding:20px;

}
.customer-review-on-home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show-more-btn{
    margin-top: 300px;
    margin-bottom: 50px;
    border: none;
    background-color: #ff6347;
    padding:5px;
    border-radius: 3px;
}